.variablesContainer {
	display: flex;
	justify-content: center;
}
.rangeContainer {
	display: flex;
	gap: 10px;
}
input[type="range"] {
	accent-color: #ff63a1; /* Example: a shade of green */
}

.radio-inputs {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Botón dentro de las pestañas */
.go-back-in-tabs {
	/* margin-right: auto; */
	background-color: #ff66a3;
	color: white;
	border: none;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	transition: 0.15s ease;
}

.go-back-in-tabs:hover {
	background-color: #ff3f8b;
	transform: scale(1.05);
}

.go-back-in-tabs:active {
	transform: scale(0.95);
}

/* From Uiverse.io by german_7619 */
.radio-inputs {
	position: relative;
	display: flex;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	background-color: #ff66a3;
	font-size: 14px;
	width: 90%;
	padding: 0.5rem 1.5rem 0 1.5rem;
}

.radio__input {
	display: none;
}

.radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border: none;
	transition: all 0.15s ease-in-out;
	position: relative;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.radio-inputs .radio input + .name:hover {
	color: #fff;
}

.radio-inputs .radio input + .name .pre-name,
.radio-inputs .radio input + .name .pos-name {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #ff66a3;
	bottom: 0;
	opacity: 0;
}

.radio-inputs .radio input + .name .pre-name {
	right: -10px;
	border-bottom-left-radius: 300px;
	box-shadow: -3px 3px 0px 3px #e8e8e8;
}

.radio-inputs .radio input + .name .pos-name {
	left: -10px;
	border-bottom-right-radius: 300px;
	box-shadow: 3px 3px 0px 3px #e8e8e8;
}

.radio-inputs .radio input:checked + .name {
	animation: name-activated;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
}

@keyframes name-activated {
	from {
		background-color: #ff66a3;
		font-weight: 400;
		cursor: pointer;
		color: white;
	}

	to {
		background-color: #e8e8e8;
		font-weight: 600;
		cursor: default;
		color: black;
	}
}

.radio-inputs .radio input:checked + .name .pre-name,
.radio-inputs .radio input:checked + .name .pos-name {
	animation: name-border-activated;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	z-index: 0;
}

@keyframes name-border-activated {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.radio-inputs .radio .name span:last-child {
	z-index: 1;
	padding: 0.5rem 0.8rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.radio-inputs .radio input:checked + .name span:last-child {
	animation: name-text-activated;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
}

@keyframes name-text-activated {
	from {
		background-color: #ff66a3;
	}

	to {
		background-color: #e8e8e8;
	}
}

.radio-inputs > .radio > .content {
	display: none;
}

.radio-inputs > label.radio > input:checked ~ div.content {
	display: block;
}
.radio-inputs > label.radio > .content {
	display: none;
}

.radio-inputs > label.radio > input:checked ~ div.content div * {
	animation: content-activated;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.content {
	background-color: #ff66a3;
	position: absolute;
	left: 0px;
	right: 0px;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.content > div {
	display: flex;
	gap: 45rem;
	height: 35rem;
	background-color: #e8e8e8;
	border-radius: 0.5rem;
	padding: 1rem;
	padding-bottom: 1.2rem;
	border: 4px solid #ff66a3;
	border-top-width: 0px;
}

@keyframes content-activated {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* From Uiverse.io by andrew-demchenk0 */
.wrapper {
	--input-focus: #2d8cf0;
	--font-color: #323232;
	--font-color-sub: #666;
	--bg-color: #fff;
	--bg-color-alt: #666;
	--main-color: #323232;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}

/* card */

.flip-card__inner {
	/* width: 300px;
	height: 350px; */
	position: relative;
	background-color: transparent;
	perspective: 1000px;
	/* width: 100%;
	height: 100%; */
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card__front,
.flip-card__back {
	padding: 20px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: lightgrey;
	gap: 20px;
	border-radius: 5px;
	border: 2px solid var(--main-color);
	box-shadow: 4px 4px var(--main-color);
}

.flip-card__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.title {
	margin: 20px 0 20px 0;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color: var(--main-color);
}

.flip-card__input {
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid var(--main-color);
	background-color: var(--bg-color);
	box-shadow: 4px 4px var(--main-color);
	font-size: 15px;
	font-weight: 600;
	color: var(--font-color);
	padding: 5px 10px;
	outline: none;
}

.flip-card__input::placeholder {
	color: var(--font-color-sub);
	opacity: 0.8;
}

.flip-card__input:focus {
	border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
	box-shadow: 0px 0px var(--main-color);
	transform: translate(3px, 3px);
}

.flip-card__btn {
	margin: 20px 0 20px 0;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid var(--main-color);
	background-color: var(--bg-color);
	box-shadow: 4px 4px var(--main-color);
	font-size: 17px;
	font-weight: 600;
	color: var(--font-color);
	cursor: pointer;
}
